.icone {
	width: 24px;
	height: 24px;
	border-radius: 50px;
	box-shadow: 0 5px 0px 2px;
	box-shadow: 0 1px 1px 0px grey;
	display: inline-flex;
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    transition: all .5s ease-out;
}

.icone:hover {
    transform: scale(1.05);
}

button, button:hover, button:active, button:focus {
	border: none;
	outline:none;
}

.icone-ingles {
	background-image: url('/perfil/imgs/ic_eng.png');
}

.icone-portugues {
	background-image: url('/perfil/imgs/ic_br.png');
}

.icone-espanhol {
	background-image: url('/perfil/imgs/ic_es.png');
}

.icone-frances {
	background-image: url('/perfil/imgs/ic_fr.png');
}